services:
  mongo:
    image: mongo:latest
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment: 
      MONGO_INITDB_ROOT_USERNAME: myUser
      MONGO_INITDB_ROOT_PASSWORD: myPassword
      MONGO_INITDB_DATABASE: kindergarten
    volumes:
      - mongo-data:/data/db

  employee-service:
    build: ./employeeservice
    container_name: employee-service
    restart: always
    ports:
      - "5003:5003"
      
    environment:
      MONGODB_URI: mongodb://myUser:myPassword@mongo:27017/kindergarten?authSource=admin
      DATABASE_NAME: kindergarten
      depends_on:
      - mongo

  student-service:
    build: ./studentservice
    container_name: student-service
    restart: always
    ports:
      -  "5001:5001"
    environment:
      MONGODB_URI: "mongodb://myUser:myPassword@mongo:27017/kindergarten?authSource=admin"
      DATABASE_NAME: kindergarten
    depends_on:
      - mongo

  teacher-service:
    build: ./teacherservice
    container_name: teacher-service
    restart: always
    ports:
      - "5002:5002"
    environment:
      MONGODB_URI: mongodb://myUser:myPassword@mongo:27017/kindergarten?authSource=admin
      DATABASE_NAME: kindergarten
    depends_on:
      - mongo

frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - student-service
      - teacher-service
      - employee-service

  volumes:
    mongo-data: